.mat-column-productname {
  width: 300px;
}

.mat-column-image {
  width: 100px;
}

.mat-column-ends {
  width: 150px;
}



.mat-column-site {
  width: 150px;
}



.mat-column-searchname {
  width: 150px;
}


.mat-column-totalbids {
  width: 150px;
}

.mat-column-price {
  width: 150px;
}
