.mat-column-searchname {
  width: 150px;
}

.mat-column-auctionkeywords {
  width: 350px;
}

.mat-column-average {
  width: 100px;
}



.mat-column-count {
  width: 100px;
}

.mat-column-min {
  width: 100px;
}

.mat-column-max {
  width: 100px;
}
