

<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header ">
          Search Auction Items
        </div>
        <div class="card-body" style="height:1250px;">


          <form class="row g-2 needs-validation" standalone novalidate>



            <div class="col-md-12">
              <div class="valid-feedback">Looks good!</div>
              <label class="form-check-label" for="productName">
                Keywords
              </label>

              <input type="text" class="form-control" id="productName"
                     [(ngModel)]="auctionItemsResourceParameters.productName" name="productName">
            </div>
            <div class="col-md-6" *ngIf="auctionSites">
              <label class="form-check-label" for="auctionSites">
                Auction Sites
              </label>

              <select class="form-control" name="auctionSites" id="auctionSites" #t [(ngModel)]="auctionItemsResourceParameters.siteId">
                <option *ngFor="let option of auctionSites" [value]="option.id">{{option.siteName}}</option>
              </select>

            </div>
            <div class="col-md-6" *ngIf="auctionSearchWords">
              <label class="form-check-label" for="auctionSearchWords">
                Search Words
              </label>
              <select class="form-control" name="auctionSearchWords" id="auctionSearchWords" #t [(ngModel)]="auctionItemsResourceParameters.searchWordId">
                <option *ngFor="let option of auctionSearchWords" [value]="option.id">{{option.word}}</option>
              </select>
            </div>

            <div class="col-md-6">
              <div class="valid-feedback">Looks good!</div>
              <label class="form-check-label" for="itemPriceMin">
                Price Min
              </label>

              <input type="number" class="form-control" id="itemPriceMin"
                     [(ngModel)]="auctionItemsResourceParameters.itemPriceMin" name="itemPriceMin">

            </div>

            <div class="col-md-6">
              <div class="valid-feedback">Looks good!</div>
              <label class="form-check-label" for="itemPriceMin">
                Price Max
              </label>
              <input type="number" class="form-control" id="itemPriceMax"
                     [(ngModel)]="auctionItemsResourceParameters.itemPriceMax" name="itemPriceMax">

            </div>


            <div class="col-md-6">
              <div class="valid-feedback">Looks good!</div>
              <label class="form-check-label" for="totalBidsMin">
                Total Bids Min
              </label>

              <input type="number" class="form-control" id="totalBidsMin"
                     [(ngModel)]="auctionItemsResourceParameters.totalBidsMin" name="totalBidsMin">

            </div>

            <div class="col-md-6">
              <div class="valid-feedback">Looks good!</div>
              <label class="form-check-label" for="totalBidsMax">
                Total Bids Max
              </label>
              <input type="number" class="form-control" id="totalBidsMax"
                     [(ngModel)]="auctionItemsResourceParameters.totalBidsMax" name="totalBidsMax">

            </div>


            <div class="col-md-6">
              <label class="form-check-label" for="auctionEndMin">
                End Date Min
              </label>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="auctionEndMinPicker" [(ngModel)]="auctionItemsResourceParameters.auctionEndDateRangeMin" name="auctionEndMin" id="auctionEndMin">
                <mat-datepicker-toggle matSuffix [for]="auctionEndMinPicker"></mat-datepicker-toggle>
                <mat-datepicker #auctionEndMinPicker></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-md-6">
              <label class="form-check-label" for="auctionEndMin">
                End Date Max
              </label>
              <br />
              <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="auctionEndMaxPicker" [(ngModel)]="auctionItemsResourceParameters.auctionEndDateRangeMax" name="auctionEndMax" id="auctionEndMax">
                <mat-datepicker-toggle matSuffix [for]="auctionEndMaxPicker"></mat-datepicker-toggle>
                <mat-datepicker #auctionEndMaxPicker></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-md-3">
              <div class="form-check">
                <br />
                <input class="form-check-input" type="checkbox" id="auctionEndProcessed" [(ngModel)]="auctionItemsResourceParameters.auctionEndProcessed" name="auctionEndProcessed">
                <label class="form-check-label" for="auctionEndProcessed">
                  Auction End Processed
                </label>
              </div>

            </div>


          </form>





          <button (click)="SearchAuctionItems()" class="btn btn-primary">
            Search Auction Items
          </button>
          <br />
          <br />
          <app-auction-item-results [events]="eventsSubject.asObservable()" [auctionItemsResourceParameters]="auctionItemsResourceParameters" >  </app-auction-item-results> 

          <!--
  <div class="mat-elevation-z8" style="height:750px;overflow-y:auto">
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
    <table mat-table [dataSource]="auctionItemsSource" class="width:100%">
      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="image">
        <th mat-header-cell *matHeaderCellDef>  </th>
        <td mat-cell *matCellDef="let element"> <img src="{{element.imageUrl}}" style="width:80px;height:100px;" /> </td>
      </ng-container>
      <ng-container matColumnDef="productname">
        <th mat-header-cell *matHeaderCellDef> Product Name <i (click)="sortByName()" [ngClass]="!sortNameDesc ? 'cil-sort-descending' : 'cil-sort-ascending'"></i></th>
        <td mat-cell *matCellDef="let element">
          <a target="_blank" href="{{element.url}}">
            {{ element.productName }}
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="ends">
        <th mat-header-cell *matHeaderCellDef> Ends </th>
        <td mat-cell *matCellDef="let element">   {{ element.auctionEndDate | date: 'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="site">
        <th mat-header-cell *matHeaderCellDef> Site </th>
        <td mat-cell *matCellDef="let element">  {{ GetAuctionSiteName(element.siteId)   }} </td>
      </ng-container>

      <ng-container matColumnDef="searchname">
        <th mat-header-cell *matHeaderCellDef> Search Name </th>
        <td mat-cell *matCellDef="let element">   {{ GetSearchWord(element.searchWordId)  }} </td>
      </ng-container>

      <ng-container matColumnDef="totalbids">
        <th mat-header-cell *matHeaderCellDef>Bids</th>
        <td mat-cell *matCellDef="let element">   {{ element.totalBids }} </td>
      </ng-container>

      <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef> Price <i (click)="sortByPrice()" [ngClass]="!sortPriceDesc ? 'cil-sort-descending' : 'cil-sort-ascending'"></i></th>
        <td mat-cell *matCellDef="let element">   {{ element.itemPrice | currency }} </td>
      </ng-container>


    </table>


  </div>
  -->
          <!--
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="auctionItems">
    <thead>
      <tr>
        <th width="100px">
        </th>
        <th width="300px">
          Product Name

          <i (click)="sortByName()" [ngClass]="!sortNameDesc ? 'cil-sort-descending' : 'cil-sort-ascending'"></i>
        </th>
        <th width="150">Ends</th>
        <th width="150">Site</th>
        <th width="150">Search Name</th>
        <th width="150px">Total Bids</th>
        <th width="150px">
          Item Price
          <i (click)="sortByPrice()" [ngClass]="!sortPriceDesc ? 'cil-sort-descending' : 'cil-sort-ascending'"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let auctionItem of auctionItems">
        <td width="100px">

          <img src="{{auctionItem.imageUrl}}" style="width:80px;height:100px;" />
        </td>
        <td width="300px">
          <a target="_blank" href="{{auctionItem.url}}">
            {{ auctionItem.productName }}
          </a>
        </td>
        <td width="150px">

          {{ GetAuctionDate(auctionItem.auctionEndDate)}}
        </td>
        <td width="150px">
          {{ GetAuctionSiteName(auctionItem.siteId)   }}
        </td>
        <td width="150px">

          {{ GetSearchWord(auctionItem.searchWordId)  }}
        </td>
        <td width="150px">
          {{ auctionItem.totalBids }}
        </td>
        <td width="150px">
          {{ auctionItem.itemPrice | currency }}
        </td>
      </tr>
    </tbody>
  </table>
    -->
        </div>

        </div>

      


    </div>




  </div><!--/.row-->


</div>



